.doctor-detail-container {
    height: 500px;

    .intro-doctor {
        display: flex;
        margin: 10px 100px;

        .content-left {
            width: 20%;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background: center center no-repeat;
            margin: 10px 20px;
            border: 1px solid rgb(240, 240, 240);
        }

        .content-right {
            display: flex;
            flex-direction: column;
            width: 80%;
            padding-left: 10px;

            .up {
                font-size: 20px;
                font-weight: 600;
                padding-top: 15px;
            }

            .down {
                margin-top: 10px;
            }
        }
    }

    .detail-infor-doctor {
        background: rgb(249, 249, 249);
        padding: 20px 100px;
        margin-bottom: 20px;
        border-top: 1px solid rgb(222, 222, 222);
        border-bottom: 1px solid rgb(222, 222, 222);

        h4 {
            font-size: 17px;
        }

        h5 {
            font-size: 14px;
        }

        img {
            position: relative;
            width: 80%;
            left: 10%;
        }
    }

    .comment-doctor {
        height: 50px;
    }
}
